body{
    background-color: rgb(181, 182, 182);
}
.head{
    text-align: center !important;
    font-style: inherit;
    margin-top: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center !important;
}
.head h6{
    font-weight: 450;
    margin-bottom: -0.2rem;
    font-size: small;
}
.col{
    margin: 1rem;
    margin-top: 4rem;
    }
.row{
    margin-top: 5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}
.fimg{
    height: 300px;
    width: 300px;
    
}
.simg{
    height: 300px;
    width: 300px;
}